Repository ProtoSoftware/proto, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | docs, changes | ci, changes | cmd, changes | tests, changes | backend

.github/labeler.yml:

changes | docs:
  - "**/*.md"
  - "*.md*"

changes | ci:
  - ".github/workflows/**/*"

changes | cmd:
  - "cmd/**/*"

changes | tests: 
  - "**/*_test.go"
  
changes | backend:
  - "backend/**/*"

build: tar -> gnu-tar
  .goreleaser.yml
Labels: none

chore: move to "ProtoSoftware" org
  .goreleaser.yml
  README.md
  build/generate.go
  cmd/config.go
  cmd/install.go
  cmd/list.go
  cmd/releases.go
  cmd/root.go
  cmd/uninstall.go
  cmd/update.go
  go.mod
  main.go
  proto.rb
  shared/updater.go
Labels: changes | docs, changes | cmd

build: update build config
  .goreleaser.yml
Labels: none

refactor: set new default sources
  cmd/root.go
Labels: changes | cmd

build: Brew formula update for version v0.8.3
  proto.rb
Labels: none

chore: add CNAME
  CNAME
Labels: none

docs: flush out readme
  README.md
Labels: changes | docs

feat: add config sources list cmd
  cmd/config.go
Labels: changes | cmd

feat: add info cmd
  cmd/info.go
Labels: changes | cmd

feat: add flags for multi sources
  cmd/install.go
  cmd/releases.go
  shared/api.go
  shared/filesystem.go
  shared/logger.go
  shared/system.go
Labels: changes | cmd

feat: support process locking
  cmd/gui.go
  cmd/install.go
  cmd/uninstall.go
  cmd/update.go
  go.mod
  go.sum
  shared/system.go
Labels: changes | cmd

build: Brew formula update for version v0.9.0
  proto.rb
Labels: none

refactor: add <tag> clarification
  cmd/info.go
Labels: changes | cmd

fix: source list wrong size
  cmd/info.go
  cmd/install.go
  cmd/releases.go
Labels: changes | cmd

build: Brew formula update for version v0.9.1
  proto.rb
Labels: none

chore: add issue templates
  .github/ISSUE_TEMPLATE/1-bug_report.yaml
  .github/ISSUE_TEMPLATE/2-feature.yaml
  .github/ISSUE_TEMPLATE/3-documentation.yaml
  .github/ISSUE_TEMPLATE/4-other.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: changes | docs

chore: wrong template
  .github/ISSUE_TEMPLATE/2-feature.yaml
Labels: none

fix: add exit to release not found
  cmd/info.go
Labels: changes | cmd

fix: create path on extract, too.
  shared/filesystem.go
Labels: none

build: Brew formula update for version v0.9.2
  proto.rb
Labels: none
