Repository ProtoSoftware/proto, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | docs, changes | ci, changes | cmd, changes | backend

docs: add initial readme
  README.md
Labels: changes | docs

ci: fix build ci
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Labels: changes | ci

ci: fix release ci
  .goreleaser.yml
Labels: none

chore: Brew formula update for version v0.1.0
  proto.rb
Labels: none

fix: x is dir
  cmd/install.go
Labels: changes | cmd

chore: Brew formula update for version v0.1.0
  proto.rb
Labels: none

feat: performance, bug squashing & flags
  backend/constants.go
  backend/filesystem.go
  backend/github_api.go
  backend/security.go
  backend/unix.go
  backend/updater.go
  cmd/app-update.go
  cmd/config.go
  cmd/install.go
  cmd/list.go
  cmd/releases.go
  cmd/root.go
  cmd/uninstall.go
Labels: changes | cmd, changes | backend

chore: Brew formula update for version v0.2.0
  proto.rb
Labels: none

build: fix ldflag setting
  .goreleaser.yml
Labels: none

build: Brew formula update for version v0.2.1
  proto.rb
Labels: none

feat: add total install size to list
  cmd/list.go
Labels: changes | cmd

build: Brew formula update for version v0.3.0
  proto.rb
Labels: none

feat: check if ver is installed
  cmd/install.go
Labels: changes | cmd

build: Brew formula update for version v0.4.0
  proto.rb
Labels: none

fix: not respecting -y flag
  cmd/install.go
Labels: changes | cmd

build: Brew formula update for version v0.4.1
  proto.rb
Labels: none

docs: Improve code comments
  cmd/app-update.go
  cmd/config.go
  cmd/install.go
  cmd/list.go
  cmd/releases.go
  cmd/uninstall.go
Labels: changes | cmd

feat: add checksum support for GE
  backend/filesystem.go
  cmd/install.go
  cmd/uninstall.go
Labels: changes | cmd, changes | backend

build: Brew formula update for version v0.5.0
  proto.rb
Labels: none

feat: add debugger
  .goreleaser.yml
  backend/filesystem.go
  backend/github_api.go
  backend/logger.go
  backend/security.go
  backend/unix.go
  cmd/install.go
  cmd/uninstall.go
Labels: changes | cmd, changes | backend

fix: no newline post-install
  cmd/install.go
Labels: changes | cmd

build: Brew formula update for version v0.6.0
  proto.rb
Labels: none

refactor: forgot to remove dir command
  cmd/config.go
Labels: changes | cmd

build: Brew formula update for version v0.6.1
  proto.rb
Labels: none

chore: Upload branding assets
  .assets/Banner.png
  .assets/Cover.png
  .assets/Logo.png
  .assets/Text.png
  .assets/info.txt
  .assets/vector/default-monochrome-black.svg
  .assets/vector/default-monochrome-white.svg
  .assets/vector/default-monochrome.svg
  .assets/vector/default.svg
  .assets/vector/isolated-layout.svg
  .assets/vector/isolated-monochrome-black.svg
  .assets/vector/isolated-monochrome-white.svg
Labels: none

docs: complete basic readme
  README.md
Labels: changes | docs

chore: add new asset
  .assets/Logo_Only.png
Labels: none

Create STANDARDS.md
  STANDARDS.md
Labels: changes | docs

ci: a few pr flow tweaks
  .github/workflows/pull_request.yml
Labels: changes | ci

Update README.md
  README.md
Labels: changes | docs

ci: more pr tweaks
  .github/workflows/pull_request.yml
Labels: changes | ci

test
  backend/constants.go
Labels: changes | backend

ci: last round of minor tweaks
  .github/workflows/pull_request.yml
Labels: changes | ci

test
  backend/filesystem.go
Labels: changes | backend

ci: fix picomatch expression
  .github/workflows/pull_request.yml
Labels: changes | ci

ci: split out workflows
  .github/workflows/pr_chores.yml
  .github/workflows/pr_code_changes.yml
  .github/workflows/tag_release.yml
  .goreleaser.yml
Labels: changes | ci

ci: add jobs
  .github/workflows/pr_chores.yml
Labels: changes | ci

ci: a few pr flow tweaks
  .github/workflows/pr_chores.yml
  .github/workflows/pr_code_changes.yml
  .github/workflows/tag_release_proto.yml
  .goreleaser.yml
Labels: changes | ci

ci: fix weird copy bug
  .github/workflows/pr_code_changes.yml
Labels: changes | ci

ci: oops forgot runs-on
  .github/workflows/pr_code_changes.yml
Labels: changes | ci

.github/labeler.yml:

changes | docs:
  - "**/*.md"
  - "*.md*"

changes | ci:
  - ".github/workflows/**/*"

changes | cmd:
  - "cmd/**/*"

changes | backend:
  - "backend/**/*"
