Repository ProtoSoftware/proto, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | docs, changes | ci, changes | cmd, changes | tests, changes | backend

.github/labeler.yml:

changes | docs:
  - "**/*.md"
  - "*.md*"

changes | ci:
  - ".github/workflows/**/*"

changes | cmd:
  - "cmd/**/*"

changes | tests: 
  - "**/*_test.go"
  
changes | backend:
  - "backend/**/*"

build: Brew formula update for version v0.6.3
  proto.rb
Labels: none

ci: only run on ready for review
  .github/workflows/pr_code_changes.yml
Labels: changes | ci

build: fix license
  .goreleaser.yml
  proto.rb
Labels: none

build: Brew formula update for version v0.6.4
  proto.rb
Labels: none

build: fix ghost conf dir
  .goreleaser.yml
Labels: none

build: support APT and RPM (hopefully!)
  .github/workflows/tag_release_proto.yml
  .goreleaser.yml
Labels: changes | ci

build: fix publisher
  .goreleaser.yml
Labels: none

build: Brew formula update for version v0.6.5
  proto.rb
Labels: none

refactor: remove inbuilt updater
  README.md
  backend/updater.go
  cmd/app-update.go
Labels: changes | docs, changes | cmd, changes | backend

feat: warn if not using pkg manager update
  cmd/app-update.go
Labels: changes | cmd

docs: add new install methods
  README.md
Labels: changes | docs

chore: fix git issues
  README.md
  backend/constants.go
  backend/filesystem.go
  backend/github_api.go
  backend/logger.go
  backend/selfupdater.go
  backend/system.go
  cmd/app-update.go
  cmd/config.go
  cmd/install.go
  cmd/list.go
  cmd/releases.go
  cmd/root.go
  cmd/uninstall.go
Labels: changes | docs, changes | cmd, changes | backend

docs: tidy readme
  README.md
Labels: changes | docs

build: Brew formula update for version v0.7.0
  proto.rb
Labels: none

docs: clarify DNF is supported
  README.md
Labels: changes | docs

feat: add "ls" alias
  cmd/list.go
Labels: changes | cmd

build: register conf dir and fix desc
  .goreleaser.yml
Labels: none

build: Brew formula update for version v0.7.1
  proto.rb
Labels: none

docs: document misc methods
  README.md
Labels: changes | docs

build: add missing nfpms fields
  .goreleaser.yml
Labels: none

build: Brew formula update for version v0.7.2
  proto.rb
Labels: none

build: Register icon, .desktop and metainfo
  .assets/Banners/banner.png
  .assets/Cover.png
  .assets/Logo_Only.png
  .assets/Logos/icon.png
  .assets/Logos/icon_text.png
  .gitignore
  .goreleaser.yml
  build/generate.go
  cmd/gui.go
Labels: changes | cmd

build: Brew formula update for version v0.7.3
  proto.rb
Labels: none

docs: fix readme logo
  README.md
Labels: changes | docs

build: follow proper naming standards
  .goreleaser.yml
  README.md
  build/generate.go
Labels: changes | docs

chore: add app screenshot
  .assets/Screenshots/main_app_screenshot.png
Labels: none

build: Brew formula update for version v0.7.3
  proto.rb
Labels: none

build: fix xml
  build/generate.go
Labels: none

chore: multiple minor changes to files
  README.md
  build/generate.go
  cmd/config.go
  cmd/gui.go
  cmd/install.go
  cmd/list.go
  cmd/releases.go
  cmd/root.go
  cmd/uninstall.go
  cmd/update.go
  gui/.gitkeep
  main.go
  shared/api.go
  shared/constants.go
  shared/filesystem.go
  shared/logger.go
  shared/system.go
  shared/updater.go
Labels: changes | docs, changes | cmd

chore: fill metainfo out with detail
  build/generate.go
Labels: none

feat: add support for multiple sources
  .goreleaser.yml
  README.md
  build/generate.go
  cmd/config.go
  cmd/install.go
  cmd/releases.go
  cmd/root.go
  cmd/uninstall.go
  shared/api.go
  shared/filesystem.go
  shared/logger.go
  shared/updater.go
Labels: changes | docs, changes | cmd

build: Brew formula update for version v0.8.0
  proto.rb
Labels: none

feat: add reset config cmd
  cmd/config.go
Labels: changes | cmd

refactor: change keys for configs
  cmd/install.go
  cmd/list.go
  cmd/root.go
  cmd/uninstall.go
  shared/filesystem.go
  shared/logger.go
Labels: changes | cmd

feat: use toml instead of json
  cmd/config.go
  cmd/install.go
  cmd/list.go
  cmd/root.go
  cmd/uninstall.go
Labels: changes | cmd

build: Brew formula update for version v0.8.1
  proto.rb
Labels: none

chore: add tar dep to homebrew
  .goreleaser.yml
  build/generate.go
Labels: none

fix: panic on unknown cmd
  cmd/root.go
Labels: changes | cmd

build: Brew formula update for version v0.8.2
  proto.rb
Labels: none

chore: change <url> to <owner/repo>
  cmd/config.go
Labels: changes | cmd
